
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1, h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .button-on {
    width: 50%;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    margin: 10px;
    outline-style: none;
    border: black solid 3px;
    background-color: lightblue;
  }
  
  .total {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 300px;
    font-size: 30px;
  }
  
  .button-off {
    width: 50%;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    margin: 10px;
    outline-style: none;
  }
  
  .total > button {
    border: solid #2782d1 2px;
    height: 40px;
    width: 100px;
    background-color: #2d91e1;
    border-radius: 10px;
    font-size: 24px;
    color: white;
  }
  
button:hover {
  cursor: pointer;
}

.Footer {
  margin-top: 90px;
}

.Footer span {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}